In [1]:
!pip install pandas-datareader

Requirement already satisfied: pandas-datareader in c:\users\dylan\anaconda3\lib\site-packages (0.7.0)
Requirement already satisfied: requests>=2.3.0 in c:\users\dylan\anaconda3\lib\site-packages (from pandas-datareader) (2.19.1)
Requirement already satisfied: pandas>=0.19.2 in c:\users\dylan\anaconda3\lib\site-packages (from pandas-datareader) (0.23.4)
Requirement already satisfied: lxml in c:\users\dylan\anaconda3\lib\site-packages (from pandas-datareader) (4.2.5)
Requirement already satisfied: wrapt in c:\users\dylan\appdata\roaming\python\python37\site-packages (from pandas-datareader) (1.10.11)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\dylan\anaconda3\lib\site-packages (from requests>=2.3.0->pandas-datareader) (2018.8.24)
Requirement already satisfied: idna<2.8,>=2.5 in c:\users\dylan\anaconda3\lib\site-packages (from requests>=2.3.0->pandas-datareader) (2.7)
Requirement already satisfied: urllib3<1.24,>=1.21.1 in c:\users\dylan\anaconda3\lib\site-packages (from requests>=2.3.0->pandas-datareader) (1.23)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\dylan\anaconda3\lib\site-packages (from requests>=2.3.0->pandas-datareader) (3.0.4)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\users\dylan\anaconda3\lib\site-packages (from pandas>=0.19.2->pandas-datareader) (2.7.3)
Requirement already satisfied: pytz>=2011k in c:\users\dylan\anaconda3\lib\site-packages (from pandas>=0.19.2->pandas-datareader) (2018.5)
Requirement already satisfied: numpy>=1.9.0 in c:\users\dylan\anaconda3\lib\site-packages (from pandas>=0.19.2->pandas-datareader) (1.15.1)
Requirement already satisfied: six>=1.5 in c:\users\dylan\appdata\roaming\python\python37\site-packages (from python-dateutil>=2.5.0->pandas>=0.19.2->pandas-datareader) (1.11.0)

In [2]:
#I will also need to import a few other libraries to work with the data so I will go ahead and do this now.
import datetime as dt
import matplotlib.pyplot as plt
from matplotlib import style
import pandas as pd
import pandas_datareader.data as web

In [4]:
style.use('ggplot')
start = dt.datetime(2013, 4, 28)
end = dt.datetime.now()

energy = ['SLB', 'XOM', 'KMI', 'MRO', 'HAL', 'WMB', 'MPC', 'CVX', 'DVN', 'APA']
'''fin = ['BAC', 'C', 'WFC', 'JPM', 'KEY', 'MS', 'HBAN', 'BK', 'RF', 'USB']
mater = ['FCX', 'DWDP', 'NEM', 'MOS', 'CF', 'BLL', 'WRK', 'NUE', 'IP', 'LYB' 
cons_stap = ['KO', 'PM', 'WMT', 'PG', 'COTY', 'MO', 'WBA', 'KR', 'GIS', 'KHC']
indust = ['GE', 'AAL', 'JCI', 'CSX', 'DAL', 'EMR', 'BA', 'CAT', 'ARNC', 'FDX']
comms = ['T', 'CMCSA', 'FB', 'TWTR', 'VZ', 'FOXA', 'CTL', 'NFLX', 'ATVI', 'DIS']
real = ['WY', 'HST', 'KIM', 'CBRE', 'HCP', 'PLD', 'IRM', 'AIV', 'AMT', 'WELL']
tech = ['AMD', 'MSFT', 'ORCL', 'MU', 'AAPL', 'CSCO', 'INTL', 'AMAT', 'NVDA', 'V']
util = ['PPL', 'PCG', 'AES', 'FE', 'EXC', 'CNP', 'NRG', 'SO', 'D', 'XEL']
cons_disc = ['F', 'EBAY', 'SBUX', 'TJX', 'GM', 'HBI', 'DHI', 'PMM', 'NKE', 'GPS']
health = ['PFE', 'JNJ', 'MRK', 'BSX', 'CVS', 'GILD', 'BMY', 'CELG', 'ABT', 'LLY']'''

energy_df = web.get_data_tiingo(energy, start, end, api_key=('3f27a51809bc828085616cbf632fa6800e0a64d8'))
energy_df.reset_index(inplace=True)
energy_df.set_index("date", inplace=True)
energy_df = energy_df.drop(['splitFactor', 'close', 'open', 'high', 'low', 'volume'], axis=1)
energy_df.columns = ['symbol', 'close', 'high', 'low', 'open', 'volume', 'divCash']

''''fin_df = web.get_data_tiingo(fin, start, end, api_key=('3f27a51809bc828085616cbf632fa6800e0a64d8'))
fin_df.reset_index(inplace=True)
fin_df.set_index("date", inplace=True)
fin_df = fin_df.drop(['splitFactor', 'close', 'open', 'high', 'low', 'volume'], axis=1)
fin_df.columns = ['symbol', 'close', 'high', 'low', 'open', 'volume', 'divCash']

mater_df = web.get_data_tiingo(mater, start, end, api_key=('3f27a51809bc828085616cbf632fa6800e0a64d8'))
mater_df.reset_index(inplace=True)
mater_df.set_index("date", inplace=True)
mater_df = mater_df.drop(['splitFactor', 'close', 'open', 'high', 'low', 'volume'], axis=1)
mater_df.columns = ['symbol', 'close', 'high', 'low', 'open', 'volume', 'divCash']

cons_stap_df = web.get_data_tiingo(cons_stap, start, end, api_key=('3f27a51809bc828085616cbf632fa6800e0a64d8'))
cons_stap_df.reset_index(inplace=True)
cons_stap_df.set_index("date", inplace=True)
cons_stap_df = cons_stap_df.drop(['splitFactor', 'close', 'open', 'high', 'low', 'volume'], axis=1)
cons_stap_df.columns = ['symbol', 'close', 'high', 'low', 'open', 'volume', 'divCash']

indust_df = web.get_data_tiingo(indust, start, end, api_key=('3f27a51809bc828085616cbf632fa6800e0a64d8'))
indust_df.reset_index(inplace=True)
indust_df.set_index("date", inplace=True)
indust_df = indust_df.drop(['splitFactor', 'close', 'open', 'high', 'low', 'volume'], axis=1)
indust_df.columns = ['symbol', 'close', 'high', 'low', 'open', 'volume', 'divCash']

comms_df = web.get_data_tiingo(comms, start, end, api_key=('3f27a51809bc828085616cbf632fa6800e0a64d8'))
comms_df.reset_index(inplace=True)
comms_df.set_index("date", inplace=True)
comms_df = comms_df.drop(['splitFactor', 'close', 'open', 'high', 'low', 'volume'], axis=1)
comms_df.columns = ['symbol', 'close', 'high', 'low', 'open', 'volume', 'divCash']

real_df = web.get_data_tiingo(real, start, end, api_key=('3f27a51809bc828085616cbf632fa6800e0a64d8'))
real_df.reset_index(inplace=True)
real_df.set_index("date", inplace=True)
real_df = real_df.drop(['splitFactor', 'close', 'open', 'high', 'low', 'volume'], axis=1)
real_df.columns = ['symbol', 'close', 'high', 'low', 'open', 'volume', 'divCash']

tech_df = web.get_data_tiingo(tech, start, end, api_key=('3f27a51809bc828085616cbf632fa6800e0a64d8'))
tech_df.reset_index(inplace=True)
tech_df.set_index("date", inplace=True)
tech_df = stech_df.drop(['splitFactor', 'close', 'open', 'high', 'low', 'volume'], axis=1)
tech_df.columns = ['symbol', 'close', 'high', 'low', 'open', 'volume', 'divCash']

util_df = web.get_data_tiingo(util, start, end, api_key=('3f27a51809bc828085616cbf632fa6800e0a64d8'))
util_df.reset_index(inplace=True)
util_df.set_index("date", inplace=True)
util_df = util_df.drop(['splitFactor', 'close', 'open', 'high', 'low', 'volume'], axis=1)
util_df.columns = ['symbol', 'close', 'high', 'low', 'open', 'volume', 'divCash']

cons_disc_df = web.get_data_tiingo(cons_disc, start, end, api_key=('3f27a51809bc828085616cbf632fa6800e0a64d8'))
cons_disc_df.reset_index(inplace=True)
cons_disc_df.set_index("date", inplace=True)
cons_disc_df = cons_disc_df.drop(['splitFactor', 'close', 'open', 'high', 'low', 'volume'], axis=1)
cons_disc_df.columns = ['symbol', 'close', 'high', 'low', 'open', 'volume', 'divCash']

health_df = web.get_data_tiingo(health, start, end, api_key=('3f27a51809bc828085616cbf632fa6800e0a64d8'))
health_df.reset_index(inplace=True)
health_df.set_index("date", inplace=True)
health_df = health_df.drop(['splitFactor', 'close', 'open', 'high', 'low', 'volume'], axis=1)
health_df.columns = ['symbol', 'close', 'high', 'low', 'open', 'volume', 'divCash']'''

'\'fin_df = web.get_data_tiingo(fin, start, end, api_key=(\'3f27a51809bc828085616cbf632fa6800e0a64d8\'))\nfin_df.reset_index(inplace=True)\nfin_df.set_index("date", inplace=True)\nfin_df = fin_df.drop([\'splitFactor\', \'close\', \'open\', \'high\', \'low\', \'volume\'], axis=1)\nfin_df.columns = [\'symbol\', \'close\', \'high\', \'low\', \'open\', \'volume\', \'divCash\']\n\nmater_df = web.get_data_tiingo(mater, start, end, api_key=(\'3f27a51809bc828085616cbf632fa6800e0a64d8\'))\nmater_df.reset_index(inplace=True)\nmater_df.set_index("date", inplace=True)\nmater_df = mater_df.drop([\'splitFactor\', \'close\', \'open\', \'high\', \'low\', \'volume\'], axis=1)\nmater_df.columns = [\'symbol\', \'close\', \'high\', \'low\', \'open\', \'volume\', \'divCash\']\n\ncons_stap_df = web.get_data_tiingo(cons_stap, start, end, api_key=(\'3f27a51809bc828085616cbf632fa6800e0a64d8\'))\ncons_stap_df.reset_index(inplace=True)\ncons_stap_df.set_index("date", inplace=True)\ncons_stap_df = cons_stap_df.drop([\'splitFactor\', \'close\', \'open\', \'high\', \'low\', \'volume\'], axis=1)\ncons_stap_df.columns = [\'symbol\', \'close\', \'high\', \'low\', \'open\', \'volume\', \'divCash\']\n\nindust_df = web.get_data_tiingo(indust, start, end, api_key=(\'3f27a51809bc828085616cbf632fa6800e0a64d8\'))\nindust_df.reset_index(inplace=True)\nindust_df.set_index("date", inplace=True)\nindust_df = indust_df.drop([\'splitFactor\', \'close\', \'open\', \'high\', \'low\', \'volume\'], axis=1)\nindust_df.columns = [\'symbol\', \'close\', \'high\', \'low\', \'open\', \'volume\', \'divCash\']\n\ncomms_df = web.get_data_tiingo(comms, start, end, api_key=(\'3f27a51809bc828085616cbf632fa6800e0a64d8\'))\ncomms_df.reset_index(inplace=True)\ncomms_df.set_index("date", inplace=True)\ncomms_df = comms_df.drop([\'splitFactor\', \'close\', \'open\', \'high\', \'low\', \'volume\'], axis=1)\ncomms_df.columns = [\'symbol\', \'close\', \'high\', \'low\', \'open\', \'volume\', \'divCash\']\n\nreal_df = web.get_data_tiingo(real, start, end, api_key=(\'3f27a51809bc828085616cbf632fa6800e0a64d8\'))\nreal_df.reset_index(inplace=True)\nreal_df.set_index("date", inplace=True)\nreal_df = real_df.drop([\'splitFactor\', \'close\', \'open\', \'high\', \'low\', \'volume\'], axis=1)\nreal_df.columns = [\'symbol\', \'close\', \'high\', \'low\', \'open\', \'volume\', \'divCash\']\n\ntech_df = web.get_data_tiingo(tech, start, end, api_key=(\'3f27a51809bc828085616cbf632fa6800e0a64d8\'))\ntech_df.reset_index(inplace=True)\ntech_df.set_index("date", inplace=True)\ntech_df = stech_df.drop([\'splitFactor\', \'close\', \'open\', \'high\', \'low\', \'volume\'], axis=1)\ntech_df.columns = [\'symbol\', \'close\', \'high\', \'low\', \'open\', \'volume\', \'divCash\']\n\nutil_df = web.get_data_tiingo(util, start, end, api_key=(\'3f27a51809bc828085616cbf632fa6800e0a64d8\'))\nutil_df.reset_index(inplace=True)\nutil_df.set_index("date", inplace=True)\nutil_df = util_df.drop([\'splitFactor\', \'close\', \'open\', \'high\', \'low\', \'volume\'], axis=1)\nutil_df.columns = [\'symbol\', \'close\', \'high\', \'low\', \'open\', \'volume\', \'divCash\']\n\ncons_disc_df = web.get_data_tiingo(cons_disc, start, end, api_key=(\'3f27a51809bc828085616cbf632fa6800e0a64d8\'))\ncons_disc_df.reset_index(inplace=True)\ncons_disc_df.set_index("date", inplace=True)\ncons_disc_df = cons_disc_df.drop([\'splitFactor\', \'close\', \'open\', \'high\', \'low\', \'volume\'], axis=1)\ncons_disc_df.columns = [\'symbol\', \'close\', \'high\', \'low\', \'open\', \'volume\', \'divCash\']\n\nhealth_df = web.get_data_tiingo(health, start, end, api_key=(\'3f27a51809bc828085616cbf632fa6800e0a64d8\'))\nhealth_df.reset_index(inplace=True)\nhealth_df.set_index("date", inplace=True)\nhealth_df = health_df.drop([\'splitFactor\', \'close\', \'open\', \'high\', \'low\', \'volume\'], axis=1)\nhealth_df.columns = [\'symbol\', \'close\', \'high\', \'low\', \'open\', \'volume\', \'divCash\']'

In [6]:
energy_df

,symbol,close,high,low,open,volume,divCash
date,,,,,,,
2013-04-29,SLB,64.298744,64.515881,63.352024,63.890525,5212200,0.0000
2013-04-30,SLB,64.646164,64.811188,63.699444,64.420341,7392800,0.0000
2013-05-01,SLB,64.090292,64.429026,63.699444,64.211889,6586500,0.0000
2013-05-02,SLB,64.489825,64.776446,63.803670,64.116348,4641400,0.0000
2013-05-03,SLB,65.766593,66.357207,65.149922,65.175979,6582600,0.0000
2013-05-06,SLB,66.148755,66.374578,65.558141,65.766593,4501800,0.0000
2013-05-07,SLB,66.782796,67.269184,66.365892,66.522231,5866100,0.0000
2013-05-08,SLB,67.390781,67.477636,66.470118,66.765425,4793800,0.0000
2013-05-09,SLB,67.095474,67.451580,66.652514,67.295241,4382700,0.0000
2013-05-10,SLB,66.721998,66.913079,65.862133,66.826224,6331900,0.0000
2013-05-13,SLB,66.913079,67.234442,66.530917,66.652514,8105600,0.0000
2013-05-14,SLB,66.756740,67.112845,66.513546,66.643828,6602300,0.0000
2013-05-15,SLB,65.731851,66.209553,65.110838,65.653681,9423800,0.0000
2013-05-16,SLB,65.375745,66.157440,65.202035,65.801335,6200800,0.0000
2013-05-17,SLB,65.783964,66.157440,65.037011,65.922932,9533300,0.0000
2013-05-20,SLB,67.243128,67.299583,65.506028,65.627625,9940800,0.0000
2013-05-21,SLB,66.947821,67.607919,66.591715,67.217071,6334800,0.0000
2013-05-22,SLB,65.644996,67.564491,65.236777,66.834909,9235500,0.0000
2013-05-23,SLB,65.471286,65.532084,64.116348,64.654849,6712900,0.0000
2013-05-24,SLB,64.845930,65.037011,63.977380,64.854616,6632100,0.0000
2013-05-28,SLB,65.488657,66.165257,65.358374,65.896875,6700100,0.0000
2013-05-29,SLB,65.123866,65.419173,64.515881,64.984898,4889900,0.0000
2013-05-30,SLB,64.976213,65.314947,64.229260,64.776446,5747400,0.0000
2013-05-31,SLB,63.430194,64.715648,63.421508,64.611422,7897400,0.0000
2013-06-03,SLB,63.892697,64.136928,63.443485,63.840361,8164000,0.3125
2013-06-04,SLB,63.543795,64.163096,63.299563,63.796749,9450800,0.0000
2013-06-05,SLB,62.959384,63.770581,62.889603,63.325731,7499400,0.0000
2013-06-06,SLB,63.936309,63.936309,62.627927,62.907048,7292900,0.0000
2013-06-07,SLB,64.485830,64.847816,63.927587,64.581778,6703700,0.0000
2013-06-10,SLB,63.936309,64.887068,63.770581,64.642836,6263700,0.0000
...,...,...,...,...,...,...,...
2018-11-08,APA,36.020000,37.830000,35.920000,37.440000,4197518,0.0000
2018-11-09,APA,37.080000,37.410000,35.020000,35.130000,7827920,0.0000
2018-11-12,APA,36.050000,37.630000,36.010000,37.550000,3800833,0.0000
2018-11-13,APA,35.240000,36.856100,35.200000,36.070000,5263923,0.0000
2018-11-14,APA,36.120000,36.830000,35.690000,36.240000,5550894,0.0000
2018-11-15,APA,36.990000,37.270000,35.740000,35.870000,4427504,0.0000
2018-11-16,APA,37.430000,37.640000,36.700000,37.070000,4361009,0.0000
2018-11-19,APA,36.530000,37.410000,36.370000,36.890000,3346539,0.0000
2018-11-20,APA,34.670000,35.930000,34.280000,35.620000,5721298,0.0000
2018-11-21,APA,36.030000,36.790000,34.990000,35.000000,3388584,0.0000
2018-11-23,APA,34.860000,35.090000,34.200000,34.750000,1860723,0.0000
2018-11-26,APA,35.370000,35.900000,34.960000,35.360000,4751763,0.0000
2018-11-27,APA,35.080000,35.540000,34.728300,35.220000,4032430,0.0000
2018-11-28,APA,35.260000,35.600000,34.576800,35.060000,4005815,0.0000
2018-11-29,APA,35.540000,36.130000,35.210000,35.450000,3084235,0.0000
2018-11-30,APA,35.130000,35.195000,34.240000,35.020000,5394913,0.0000
2018-12-03,APA,36.490000,37.090000,36.030000,36.400000,3678849,0.0000
2018-12-04,APA,35.040000,36.570000,34.940000,36.400000,3611953,0.0000
2018-12-06,APA,33.900000,34.230000,32.971600,34.170000,5646127,0.0000
2018-12-07,APA,33.010000,35.315000,32.960000,34.890000,5157140,0.0000
2018-12-10,APA,31.260000,32.920000,30.540000,32.570000,6758302,0.0000
2018-12-11,APA,30.570000,31.990000,29.880000,31.700000,6854334,0.0000
2018-12-12,APA,31.330000,32.250000,31.000000,31.080000,6013907,0.0000
2018-12-13,APA,31.300000,31.540000,30.300000,31.140000,5957208,0.0000
2018-12-14,APA,30.240000,31.480000,30.080000,30.920000,6897442,0.0000
2018-12-17,APA,30.170000,30.870000,29.950000,30.050000,6620111,0.0000
2018-12-18,APA,29.240000,30.310000,29.050000,30.160000,8197033,0.0000
2018-12-19,APA,28.750000,30.183800,28.540000,29.460000,5916535,0.0000
2018-12-20,APA,27.000000,29.050000,26.840000,28.300000,6196919,0.0000
2018-12-21,APA,26.550000,27.500000,26.310000,26.860000,9967583,0.0000

In [ ]:
btc_df = pd.read_csv(r'C:\Users\dylan\Downloads\all-crypto-currencies.zip', index_col='date', nrows=2042)
btc_df = btc_df.drop(['slug', 'name', 'ranknow'], axis=1)

In [ ]:
btc_df

In [ ]:
#Read in FRED dataset for oil prices
oil_df = pd.read_csv(r'C:\Users\dylan\OneDrive\Desktop\oil_df.csv', index_col='DATE')

In [ ]:
oil_df.index.names = ['date']
oil_df.columns = ['close']

In [ ]:
oil_df